<h1>Create a new milestone</h1>

<form action="/child/<%= @child.slug %>/create-milestone" method="POST">
    <label>Milestone</label>
    <input type="text" name="content"><br><br>
    <label>Date</label>
    <input type="date" name="date"><br><br>
    <label>Age</label>
    <input type="text" name="age"><br><br>
    <input type="submit">
</form>