<h1>Log in to Baby Steps</h1>

<form action="/login" method="POST">
    <label>Username</label>
    <input type="text" name="username"><br><br>
    <label>Password</label>
    <input type="password" name="password"><br><br>
    <button id="submit" type="submit">Login</button>
</form>

<p>Or <a href="/signup">Sign up</a> to create a new Baby Steps account</p>