<h1>Welcome back <%= @parent.username %>!</h1>

<h3>Children</h3>

<% if @parent.children.empty?%>
    <p>You have not added any children yet.<p>
    <a href="/create-child">Add a child<a/><br>
<% else @parent.children.each do |child|%>
        <p><%= child.name %></p>
        <p>DOB: <%= child.dob %></p>
    <% end %>
<% end %>

<br>

<a href="/logout">Log Out<a/>
