<h1>Welcome back <%= @parent.username %>!</h1>
<p>hello</p>

<h3>Children</h3>

<% if @parent.children.empty?%>
    <p>You have not added any children yet.<p>
<% else %>
    <% @parent.children.each do |child|%>
        <a href="/child/<%= child.slug %>"><%= child.name %></a>
        <p>DOB: <%= child.dob %></p>
    <% end %>
<% end %>
<a href="/create-child">Add Child</a><br> 

<br>

<a href="/logout">Log Out<a/>
